[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "themes/hugo-news"]
	path = themes/hugo-news
	url = https://github.com/professionalaf/hugo-news
